:root {
  --basic-white: #ffffff;
  --basic-blue: #81b3d2;
  --basic-lightgray: #eeeeee;
  --basic-lightbrown: #766357;
  --basic-brown: #604e43;
  --basic-darkbrown: #503e33;
  --basic-black: #000000;
  --basic-carbon: #333333;
  --basic-skyblue: #669ec0;
  --basic-darkblue: #5496bd;
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
  font-weight: 400;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-header {
  background-color: var(--basic-white);
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: transparent;
}

.site-navigation {
  list-style: none;
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: var(--basic-white);
}

.features-list,
.advantages-list {
  list-style: none;
}

.feature-item {
  text-align: center;
}

.feature-item h3 {
  font-size: 21px;
  line-height: 21px;
}

.advantage-item {
  text-align: center;
}

.advantage-item h3 {
  font-size: 21px;
  line-height: 21px;
}

.advantage-img {
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.slogan {
  text-align: center;
}

.button {
  font: inherit;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  background-color: var(--basic-lightbrown);
  color: var(--basic-white);
  border: none;
  font-size: 21px;
  line-height: 26px;
}

.button:hover {
  background-color: var(--basic-brown);
}

.button.active {
  background-color: var(--basic-darkbrown);
}

.index-columns {
  color: var(--basic-carbon);
  background-color: var(--basic-lightgray);
  background-position: 0 0;
}

.infrastructure,
.housing-list,
.sorting,
.socials,
.footer-social,
.hotel-list {
  list-style: none;
}

.info {
  background-color: var(--basic-blue);
  text-align: center;
  color: var(--basic-white);
  font-weight: 700;
  text-transform: uppercase;
}

.reservation {
  background-color: var(--basic-lightbrown);
  color: var(--basic-white);
  font-weight: 700;
  text-transform: uppercase;
}

.info:hover {
  background-color: var(--basic-skyblue);
}

.info:active {
  background-color: var(--basic-darkblue);
}

.main-footer {
  color: var(--basic-black);
}

.footer-contacts a {
  color: var(--basic-black);
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.footer-copyright {
  font-size: 14px;
  line-height: 26px;
  text-align: center;
}

.modal {
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-position: 0 0;
}
