:root {
  --basic-white: #ffffff;
  --basic-blue: #81b3d2;
  --basic-lightgray: #eeeeee;
  --basic-lightbrown: #766357;
  --basic-brown: #604e43;
  --basic-darkbrown: #503e33;
  --basic-black: #000000;
  --basic-carbon: #333333;
  --basic-skyblue: #669ec0;
  --basic-darkblue: #5496bd;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
  font-weight: 400;
  min-height: 100%
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Grid */

.page {
  height: 100%;
}

/* main-navigation*/

.main-header {
  background-color: var(--basic-white);
}

.main-header-logo {
  display: grid;
  justify-self: center;
}

.main-header-bar {
  background-color: var(--basic-white);
}

.main-navigation-wrapper {
  display: grid;
  width: 1200px;
  margin: 0 auto;
  padding:0 10px;
}

.img-welcome {
  position: relative;
  width: 100vw;
  left: 50%;
  transform: translate(-50%);
}

.main-navigation {
  display: grid;
  grid-template-columns: 1fr;
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: transparent;
}

.site-navigation {
  margin: 0;
  padding:0;
  display: grid;
  grid-template-columns: 1fr;
  list-style: none;
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: var(--basic-white);
}

.center {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.slogan {
  text-align: center;
  margin-bottom: 60px;
}

.advantages {
  display: grid;
  grid-template-columns: 400px 400px 400px;
}

.real-town {
  grid-column: 2/4;
}

.advantage-img {
  grid-column: 1/2;
}

.features-list {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  margin: 0;
  padding: 0;
  min-height: 330px;
}

.devils-bridge {
  grid-column: 1/3;
}

.devils-text {
  grid-column: 3/4;
}

.advantages-list {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  margin: 0;
  padding: 0;
}


.features-list,
.advantages-list {
  list-style: none;
}

.feature-item {
  text-align: center;
}

.feature-item p {
  margin: 0 10px;
}

.feature-item h3 {
  font-size: 21px;
  line-height: 21px;
}

.advantage-item {
  text-align: center;
}

.advantage-item h3 {
  font-size: 21px;
  line-height: 21px;
}

.advantage-img {
   color: var(--basic-white);
   background-color: var(--basic-blue);
}

.advantage-img,
.advantages-list,
.features-list {
 margin: 0;
 padding: 0;
}


.button {
  font: inherit;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  background-color: var(--basic-lightbrown);
  color: var(--basic-white);
  border: none;
  font-size: 21px;
  line-height: 26px;
}

.button:hover {
  background-color: var(--basic-brown);
}

.button.active {
  background-color: var(--basic-darkbrown);
}

.advantage-item {
  color: var(--basic-carbon);
  background-color: var(--basic-lightgray);
  background-position: 0 0;
}

.infrastructure,
.housing-list,
.sorting,
.socials,
.footer-social,
.hotel-list {
  list-style: none;
}

.info {
  background-color: var(--basic-blue);
  text-align: center;
  color: var(--basic-white);
  font-weight: 700;
  text-transform: uppercase;
}

.reservation {
  background-color: var(--basic-lightbrown);
  color: var(--basic-white);
  font-weight: 700;
  text-transform: uppercase;
}

.info:hover {
  background-color: var(--basic-skyblue);
}

.info:active {
  background-color: var(--basic-darkblue);
}

.main-footer {
  color: var(--basic-black);
  padding: 25px 0;
  margin: 0;
}

.main-footer .center {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-contacts{
  width: 200px;
  margin: 0;
}


.footer-contacts a {
  color: var(--basic-black);
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.footer-social {
  text-align: center;
  justify-self: center;
  width: 150px;
}

.footer-social ul {
  list-style: none;
}

.footer-copyright {
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  max-width: 205px;
  justify-self: center;
}

.modal {
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-position: 0 0;
}

.search {
  text-align: center;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}
