:root {
  --basic-white: #ffffff;
  --basic-lightwhite: #f2f2f2;
  --basic-blue: #81b3d2;
  --basic-skyblue: #669ec0;
  --basic-darkblue: #5496bd;
  --basic-lightgray: #eeeeee;
  --basic-lightbrown: #766357;
  --basic-brown: #604e43;
  --basic-darkbrown: #503e33;
  --basic-black: #000000;
  --basic-lightblack: #666666;
  --basic-carbon: #333333;
  --basic-gray: #e5e5e5;
  --basic-darkgray: #ababab;
  --basic-silvergray: #a9a9a9;
  --basic-maverick: #bdbbbc;
  --basic-verylightgrey: #cacaca;
  --basic-whisper: #ebebeb;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.page {
  height: 100%;
}

.page-body {
  min-width: 1200px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: var(--basic-black);
  text-transform: uppercase;
  font-weight: 400;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--basic-lightwhite);
}

.wrapper-page {
  text-align: center;
}

.center {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  background-color: var(--basic-white);
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.main-header {
  background-color: var(--basic-white);
}

.main-header-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  width: 138px;
  height: 70px;
}

.main-navigation {
  line-height: 26px;
  color: var(--basic-black);
}

.main-navigation-wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.site-navigation {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  list-style: none;
  margin: 0;
  padding: 14px 0 16px 0;
}

.site-navigation a {
  color: var(--basic-black);
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}

.header-info {
  padding-left: 72px;
}

.header-photo,
.header-info {
  text-align: left;
}

.header-map,
.header-hotels {
  text-align: right;
}

.header-hotels {
  padding-right: 72px;
}

.inner-page .site-navigation {
  text-align: center;
}

.inner-page .main-footer {
  text-align: center;
}

.site-navigation a:hover {
  color: var(--basic-blue);
}

.site-navigation a:active {
  color: var(--basic-black);
  opacity: 0.1;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: var(--basic-white);
}

.img-welcome {
  background-image: url("../img/background-welcome.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 1200px;
  height: 510px;
  background-color: var(--basic-blue);
}

.slogan {
  width: 100%;
  margin: 0;
  padding-top: 42px;
  padding-bottom: 51px;
}

.motto {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  margin-bottom: 42px;
}

.slogan .five-reasons {
  line-height: 26px;
  margin: 0;
}

.number {
  display: block;
  margin: 0;
  margin-bottom: 23px;
}

.advantage-text {
  margin: 0 auto;
  padding: 0;
}

.advantages {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-auto-flow: dense;
  min-height: 256px;
}

.advantages .true-city-text {
  grid-column: 1/2;
  padding-top: 48px;
  padding-bottom: 54px;
}

.advantages .real-town {
  grid-column: 2/4;
}

.advantages .devils-bridge {
  grid-column: 1/3;
}

.advantages .devils-text {
  grid-column: 3/4;
}

.advantages-list,
.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantages-list {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  margin: 0;
  padding-top: 45px;
  padding-bottom: 54px;
  background-color: var(--basic-lightgray);
  color: var(--basic-carbon);
}

.true-city-text,
.devils-text {
  color: var(--basic-white);
  background-color: var(--basic-blue);
  margin: 0;
}

.title-true-city {
  max-width: 122px;
}

.true-text {
  max-width: 310px;
}

.devils-text h3 {
  max-width: 160px;
}

.devils-text p {
  margin: 0 auto;
  max-width: 310px;
}

.advantage-img {
  padding-top: 49px;
  padding-bottom: 50px;
}

.advantage-item h3 {
  font-size: 21px;
  margin: 0 auto;
}

.advantages h3 {
  margin: 0 auto;
  margin-bottom: 27px;
  font-size: 21px;
}

.small-area {
  max-width: 120px;
}

.small-area-text {
  max-width: 210px;
}

.nice-road {
  max-width: 100px;
}

.nice-road-text {
  max-width: 270px;
}

.few-tourists {
  max-width: 100px;
}

.few-tourists-text {
  max-width: 250px;
}

.advantages-list h3 {
  margin-bottom: 28px;
}

.features-list {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  align-items: center;
}

.feature-item {
  text-align: center;
  position: relative;
  padding-top: 160px;
  padding-bottom: 82px;
}

.feature-item p {
  margin: 0 auto;
}

.house-text {
  max-width: 254px;
}

.food-text {
  max-width: 297px;
}

.souvenirs-text {
  max-width: 270px;
}

.house::before {
  content: "";
  position: absolute;
  width: 75px;
  height: 72px;
  background-image: url("../img/house.svg");
  background-repeat: no-repeat;
  top: 61px;
  left: 162px;
}

.food::before {
  content: "";
  position: absolute;
  width: 75px;
  height: 70px;
  background-image: url("../img/food.svg");
  background-repeat: no-repeat;
  top: 62px;
  left: 162px;
}

.souvenirs::before {
  content: "";
  position: absolute;
  width: 64px;
  height: 77px;
  background-image: url("../img/souvenirs.svg");
  background-repeat: no-repeat;
  top: 56px;
  left: 168px;
}

.feature-item h3 {
  font-size: 21px;
  margin: 0;
  margin-bottom: 26px;
}

.infrastructure,
.housing-list,
.sorting-list,
.footer-social,
.hotel-list {
  list-style: none;
}

.hotel-list {
  padding: 0;
  margin: 0;
}

.filters {
  background-image: url("../img/catalog/background-catalog.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 217px;
  background-color: var(--basic-blue);
}

.filter {
  display: flex;
  width: 100%;
  height: 100%;
  color: var(--basic-white);
  padding-top: 25px;
  padding-bottom: 32px;
  padding-left: 71px;
  padding-right: 74px;
}

.filter legend {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
}

.checkbox-filter legend {
  margin-bottom: 25px;
}

.filter-item legend {
  margin-bottom: 11px;
}

.filter fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.filter fieldset:first-child {
  margin-right: 119px;
}

.filter fieldset:nth-child(2) {
  margin-right: auto;
}

.filter-item {
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: 73px;
}

.range-filter {
  display: flex;
  flex-direction: column;
  width: 316px;
  position: relative;
}

.range-controls {
  position: relative;
}

.toggle {
  position: absolute;
  top: -8px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--basic-darkgray);
  border-radius: 50%;
  cursor: pointer;
  box-sizing: content-box;
  box-shadow: 0 2px 1px 0 rgba(171, 171, 171, 0.3);
}

.toggle:hover {
  transform: scale(1.2);
}

.range-controls .toggle-max {
  left: 253px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
  margin-bottom: 34px;
}

.range-controls .bar {
  height: 2px;
  background: var(--basic-white);
  width: 82%;
  top: -35px;
}

.price-controls label {
  text-transform: uppercase;
}

.price-controls {
  position: relative;
  display: flex;
  border: 2px solid var(--basic-white);
  box-sizing: border-box;
  width: 317px;
  height: 36px;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 2px;
}

.price-controls::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 22px;
  background-color: var(--basic-white);
  left: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.min-price {
  margin-left: 66px;
}

.show-button {
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  background-color: transparent;
  color: var(--basic-white);
  padding: 7px 33px 9px 34px;
  text-transform: uppercase;
  cursor: pointer;
  align-self: center;
  margin-right: 9px;
}

.show-button:hover {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.filter-option {
  margin-bottom: 25px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  margin-bottom: 25px;
  left: 41px;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -40px;
  top: 0;
  width: 23px;
  height: 23px;
  background-image: url("../img/catalog/checkbox-off.svg");
  background-repeat: no-repeat;
}

.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -40px;
  width: 27px;
  height: 23px;
  background-image: url("../img/catalog/checkbox-on.svg");
  background-repeat: no-repeat;
}

.filter-input-checkbox:disabled + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -40px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off-disabled.svg");
  background-repeat: no-repeat;
  cursor: default;
}

.filter-input-checkbox:disabled + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -40px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on-disabled.svg");
  background-repeat: no-repeat;
  cursor: default;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  padding: 28px 73px 31px;
}

.found {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  margin-right: 46px;
}

.sorting {
  line-height: 18px;
  font-size: 12px;
  margin: 0;
  text-transform: uppercase;
}

.sorting-list {
  display: flex;
  margin: 0;
  margin-right: auto;
  margin-bottom: 2px;
}

.sorting-item {
  color: var(--basic-black);
  opacity: 0.3;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 18px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  margin-right: 33px;
  border-bottom: 1px dashed var(--basic-blue);
}

.sorting-item:hover {
  color: var(--basic-blue);
  opacity: 1;
}

.sorting-item:active {
  color: var(--basic-black);
  border: none;
}

.current {
  color: var(--basic-blue);
  border: none;
  opacity: 1;
}

.triangles {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.triangles path {
  fill: var(--basic-verylightgrey);
}

.triangle-up:hover path,
.triangle-down:hover path {
  fill: var(--basic-black);
}

.triangle-up:active path,
.triangle-down:active path {
  fill: var(--basic-blue);
}

.current-triangle path {
  fill: var(--basic-blue);
}

.triangle-up,
.triangle-down {
  cursor: pointer;
}

.triangle-up {
  width: 11px;
  height: 10px;
  background-repeat: no-repeat;
  margin-right: 12px;
}

.triangle-down {
  background-repeat: no-repeat;
  width: 11px;
  height: 10px;
}

.hotel-img {
  height: 90px;
  width: 135px;
  margin-left: 73px;
  margin-right: 30px;
  margin-top: 6px;
}

.hotel-item {
  display: flex;
  width: 100%;
  border-top: 1px solid var(--basic-gray);
  padding-top: 24px;
  padding-bottom: 29px;
}

.hotel-item:last-child {
  border-bottom: 1px solid var(--basic-gray);
}

.hotel-item h3 {
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 7px;
  color: var(--basic-black);
}

.hotel-item h3:hover {
  color: var(--basic-blue);
}

.hotel-item h3:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.description {
  margin-right: auto;
}

.price {
  display: flex;
  margin: 0;
  margin-bottom: 18px;
}

.price dd {
  margin: 0;
}

.hotel,
.motel,
.apartments {
  width: 115px;
}

.hotel-button {
  display: flex;
  margin-right: 6px;
}

.rating {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 64px;
  width: 140px;
}

.hotel-rating {
  display: inline-block;
  vertical-align: bottom;
  color: var(--basic-lightblack);
  background-color: var(--basic-lightwhite);
  text-align: center;
  margin: 0;
  padding: 3px 12px 3px 15px;
  margin-right: 9px;
}

.star-1 {
  background-image: url(../img/catalog/stars.svg);
  background-repeat: no-repeat;
  width: 98px;
  height: 18px;
}

.star-2 {
  background-image: url(../img/catalog/stars.svg);
  background-repeat: no-repeat;
  width: 74px;
  height: 18px;
}

.star-3 {
  background-image: url(../img/catalog/stars.svg);
  background-repeat: no-repeat;
  width: 50px;
  height: 18px;
}

.star-1,
.star-2,
.star-3 {
  display: block;
  margin-top: 6px;
  margin-bottom: 46px;
}

.reservation {
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  padding: 3px 17px 5px 16px;
  margin: 0;
  background-color: var(--basic-lightbrown);
  color: var(--basic-white);
  border: none;
  cursor: pointer;
}

.reservation:hover {
  background-color: var(--basic-brown);
}

.reservation:active {
  background-color: var(--basic-darkbrown);
}

.reservation:active .reserve {
  opacity: 0.3;
}

.info {
  background-color: var(--basic-blue);
  text-align: center;
  color: var(--basic-white);
  font-weight: 700;
  text-transform: uppercase;
  padding: 3px 16px 5px 17px;
  margin-right: 6px;
  border: none;
  cursor: pointer;
}

.info:hover {
  background-color: var(--basic-skyblue);
}

.info:active {
  background-color: var(--basic-darkblue);
}

.info:active .more-info {
  opacity: 0.3;
}

.map {
  position: relative;
  width: 1200px;
  height: 594px;
  margin: 0;
  padding: 0;
}

.main-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: var(--basic-black);
  margin: 0;
  background-color: rgba(255, 255, 255, 0.9);
  align-items: center;
  padding-top: 23px;
  padding-bottom: 35px;
  padding-left: 44px;
}

.wrapper-footer {
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer-contacts {
  width: 200px;
  margin: 0;
  padding: 0;
  justify-self: center;
}

.footer-contacts a {
  color: var(--basic-black);
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.footer-hashtag {
  margin: 0;
  margin-bottom: 9px;
}

.footer-social {
  justify-self: center;
}

.footer-social ul {
  list-style: none;
  margin-right: 43px;
}

.footer-social li:not(:last-child) {
  margin-right: 6px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  padding-top: 15px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--basic-blue);
}

.twitter {
  padding: 16px 14px 15px 15px;
}

.facebook {
  padding: 13px 17px;
}

.youtube {
  padding: 16px 13px;
}

.social-button:hover {
  background-color: var(--basic-skyblue);
}

.social-button:active {
  background-color: var(--basic-darkblue);
}

.social-button:active path {
  opacity: 0.3;
}

.footer-copyright {
  display: flex;
  line-height: 26px;
  margin: 0;
  text-align: center;
  max-width: 225px;
  justify-self: center;
  margin-top: 21px;
  margin-right: 79px;
}

.footer-website {
  padding-right: 15px;
}

.search {
  position: relative;
  padding-top: 56px;
  padding-bottom: 0;
}

.search h2 {
  font-size: 30px;
  line-height: 24px;
  max-width: 300px;
  margin: 0 auto;
  margin-bottom: 34px;
  padding-right: 308px;
}

.search-text {
  line-height: 24px;
  margin: 0 auto;
  margin-bottom: 43px;
  max-width: 435px;
}

.search-button {
  display: inline-block;
  vertical-align: bottom;
  font: inherit;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--basic-lightbrown);
  color: var(--basic-white);
  border: none;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  padding: 30px 140px;
  cursor: pointer;
}

.search-button:hover {
  background-color: var(--basic-brown);
}

.search-button:active {
  background-color: var(--basic-darkbrown);
  color: rgba(255, 255, 255, 0.3);
}

.find {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  padding: 16px 197px;
  background-color: var(--basic-blue);
  color: var(--basic-white);
  border: none;
  cursor: pointer;
}

.find:hover {
  background-color: var(--basic-skyblue);
}

.find:active {
  background-color: var(--basic-darkblue);
  color: rgba(255, 255, 255, 0.3);
}

.modal {
  position: absolute;
  font-weight: 700;
  z-index: 10;
  display: block;
  line-height: 26px;
  top: 291px;
  right: 0;
  bottom: auto;
  left: 0;
  margin: auto;
  color: var(--basic-black);
  background-color: var(--basic-white);
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
  width: 570px;
  padding: 55px;
  padding-top: 54px;
  animation-name: bounce;
  animation-duration: 0.6s;
}

@keyframes bounce {
  0% {
    transform: translateY(-100px);
  }
  70% {
    transform: translateY(30px);
  }
  90% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.modal-show {
  display: none;
}

.modal label {
  margin-top: 5px;
}

.date {
  margin-right: 21px;
}

.modal input {
  background-color: var(--basic-lightwhite);
  border: none;
}

.hotel-search {
  display: flex;
  flex-wrap: wrap;
}

.hotel-search-item input,
.adults-sum input,
.children input {
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 0;
}

.hotel-search-item input {
  width: 347px;
  padding: 6px 13px;
}

.children {
  display: flex;
  align-items: flex-start;
  position: relative;
}

.plus {
  position: relative;
  border: none;
  padding: 19px;
  padding-right: 22px;
  background-color: var(--basic-lightwhite);
}

.hotel-search-item {
  position: relative;
}

.calendar {
  position: absolute;
  top: 8px;
  right: 9px;
  cursor: pointer;
}

.calendar:hover path,
.minus:hover rect,
.plus:hover path {
  fill: var(--basic-black);
}

.calendar:active path,
.minus:active rect,
.plus:active path {
  fill: var(--basic-blue);
}

.adults-sum label {
  margin-right: 41px;
}

.date-on input {
  margin-bottom: 30px;
}

.date-out label {
  margin-right: 17px;
}

.date-out input {
  margin-bottom: 30px;
}

.adults-sum input,
.children input {
  text-align: center;
  width: 38px;
  padding: 6px;
  padding-right: 3px;
}

.html-academy:hover path {
  fill: var(--basic-blue);
}

.html-academy:active path {
  fill: var(--basic-maverick);
}

.site-navigation .current-page {
  color: var(--basic-lightbrown);
}

.hotel-price {
  width: 230px;
}

.children-label {
  margin-right: 25px;
}

.minus {
  position: relative;
  border: none;
  padding: 19px;
  padding-left: 18px;
  background-color: var(--basic-lightwhite);
}

.adults-sum {
  display: flex;
  align-items: flex-start;
  margin-bottom: 54px;
  margin-right: 52px;
}

.minus-svg {
  position: absolute;
  top: 18px;
  left: 15px;
}

.plus-svg {
  position: absolute;
  top: 14px;
  right: 14px;
}

.modal input,
.minus,
.plus {
  cursor: pointer;
}

.modal input:hover {
  background-color: var(--basic-whisper);
}

.modal input:focus {
  background-color: var(--basic-white);
  outline: none;
  box-shadow: 0 0 0 2px var(--basic-gray);
}

.sorting-list li {
  cursor: pointer;
}

.max-price input,
.min-price input {
  color: var(--basic-white);
  background-color: transparent;
  border: none;
  width: 60px;
}

.max-price {
  margin-left: 70px;
}
